.tab-left {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: var(--framer-color-bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-right {
    width: 100%;
    padding: 5px 15px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--framer-color-bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-left:hover, .tab-right:hover {
    background-color: var(--framer-color-bg-tertiary);
}

[data-framer-theme="dark"] .active {
    background-color: #3e3e3e;
}

[data-framer-theme="dark"] .active:hover {
    background-color: #3e3e3e;
}

[data-framer-theme="light"] .active {
    background-color: #e0e0e0;
}

[data-framer-theme="light"] .active:hover {
    background-color: #e0e0e0;
}


*::-webkit-scrollbar {
    display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

li {
    color: var(--framer-color-text);
}